@import "tailwindcss";

:root {
  --background: linear-gradient(110deg,rgba(0, 0, 0, 1) 0%, rgba(28, 28, 48, 1) 50%, rgba(1, 2, 77, 1) 100%);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-luckiest-guy);
  --font-mono: var(--font-permanent-marker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(110deg,rgba(0, 0, 0, 1) 0%, rgba(28, 28, 48, 1) 50%, rgba(1, 2, 77, 1) 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-luckiest-guy);
}

h1 {
  font-family: var(--font-permanent-marker);
}

p {
  font-family: var(--font-luckiest-guy);
}